// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$almost_black: #040000;
$dark-pink: #640D40;
$neon-blue: #919897;
$dark-blue: #191589;
