<div class="container col-4 justify-content-center p-3">
  <h1>Cocktails</h1>

  <ul>
    <% @cocktails.each do |cocktail| %>
      <li>
      <%= link_to cocktail.name, cocktail_path(cocktail) %>
      </li>
    <% end %>
  </ul>

  <%= link_to "Add a cocktail", new_cocktail_path %>

<!-- app/views/articles/index.html.erb -->
<%= cl_image_tag("joa9z4dwdpxry56cchgu",
      width: 400, height: 300, crop: :fill) %>
</div>