<div class="container col-4 justify-content-center">
  <h1>Add some doses(of ingredients) to cocktail!</h1>
    
  <%= simple_form_for([@cocktail, @dose]) do |f| %>
    <%= f.input :description, label: 'Amount' %>
    <%= f.association :ingredient %> 
    <%= f.submit %>
  <% end %>
</div>

